body {}

a {
    text-decoration: none;
}

body > * {
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: Helvetica, arial, sans-serif;
}

#site-error-head {
    font-size: 3em;
    top: 16%;
}

#site-error-head h3 {
    margin: 0;
}

#site-error-head a {
    color: #131516;
}

#error-hero {
    top: 33%;
}

#error-hero > * {
    margin: 0.2em 0;
    color: #b9121b;
}

#site-links {
    top: 55%;
}

#site-links ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    font-size: 1.1em;
}

#site-links li {
    display: inline;
}

#site-links a {
    font-size: 1.2em;
    color: #1496BB;
    padding: 0 15px;
    display: inline-block;
    text-align: center;
}
