a {
    text-decoration: none;
}

#site-head {
    font-size: 0.8em;
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 4em;
    left: 4%;
}

#site-head h1 {
    margin: 0;
}

#site-head a {
    color: #131516;
}

#navbar {
    position: fixed;
    top: 7em;
    left: 4%;
}

#navbar ul {
    padding: 0;
    margin: 0;
}

#navbar li {
    font-size: 1.3em; 
    font-family: Helvetica, arial, sans-serif;
    display: block;
    line-height: 2em;
}

#navbar a {
    color: #1496BB;
}

#navbar a:hover {
    color: #131516;
}


#content {
    position: relative;
    top: 6em;
    left: 35%;
    min-width:40em;
    width:58%;
}

#post-template {
    display: none;
}

.post {
    margin-bottom: 8em;
}

.post-header {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6em;
}


.post-content {
    font-family: 'adobe_caslon_proregular', Baskerville, Georgia;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;
}

