#header {
    background:url(/img/signature@1x.png) no-repeat center center;
    position: fixed;
    height:300px;
    width:100%;
    z-index: -10;
}

#content {
    width:100%;
    position:relative;
    top: 300px;
    background:white;
    height:1500px;
}