#header {
    background: url(/img/signature@1x.png) no-repeat center center; 
    position: fixed;
    height: 150px;
    width: 100%;
    z-index: -10;
    text-align: center;
}
#header * {
    z-index: -10;
}

#content {
    width: 70%;
    position: relative;
    top: 150px;
    margin: auto;
    background: white;
    height: 800px;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
#content * {
    margin: auto;
    font-family: Varela Round, Helvetica;
    font-size: 16px;
}
body {
    background-image: url('./img/swirl_pattern');
    margin: 0;
}

#navbar {
    position:relative;
    margin:0;
    padding:0;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}


#navbar li, a{
    height:auto;
    display: inline;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color:grey;
}

#navbar li a:hover {
    color:black;
}

#navbar li {
    margin-left: 10%;
    margin-right: 10%;
}