/* mobile and desktop */
.blog {
    height: 100%;
    position: absolute;
}

.blog article {
    min-height: 97.9%;
    background: white;

    padding: 4%;
}

.backLink {
    font-family: Lato;
}

.backLink a {
    color: #6f1ca6;
}

.backLink i {
    margin-right: 0.3em;

    color: #6f1ca6;
}


.blogHeader h2 {
    font-family: VT323;
    border-bottom: 0.2em dotted #f2b705;
}

.blogHeader p {
    font-family: Ubuntu;
    margin: 0;
}

.blogBody {
    font-family: Lato;
}

/* mobile only */
@media all and (max-width: 767px) {
    .blog {
        width: 100%;
        border-top: 2px solid black;
    }

    .backLink {
        margin-bottom: 3%;
        font-size: 1.5em;
    }

    .blogHeader h2 {
        margin: 0 0 0.4em 0;

        font-size: 2em;
    }

    .blogBody {
        margin: 2em 2% 0 2%;
        font-size: 1.1em;
    }
}

/* desktop only */
@media all and (min-width: 768px) {
    .blog {
        width: 70%;
        max-width: 70%;
        left: 30%;
        overflow: scroll;

        z-index: 0;
    }

    .blog article {
        margin: 2.1%;
        position: relative;
        box-sizing: border-box;
    }

    .backLink {
        margin-bottom: 1em;

        font-size: 2.7vw;
    }

    .blogHeader h2 {
        margin: 0 0 0.4em 0;

        font-size: 4.3vw;
    }


    .blogBody {
        margin: 3em 2em 0 2em;
        font-size: 2vw;
    }
}
