/* TODO: use url-loader in webpack */

.contentList {
    width: 70%;
    height: 100%;
    min-height: 100%;
    max-width: 70%;
    margin-left: 30%;
    overflow: scroll;
    position: absolute;

    z-index: 0;
}

.contentList ul {
    list-style: none;
}
