/* The parent div containing both
 * sidebar and content lists
 */
.appRoot {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

/* The navbar when indexRoute is active */
.indexNav {
    z-index: 1;
    width: 100%;
    min-width: 30%;
    min-height: 100%;
    position: absolute;

    background: linear-gradient(to bottom,#f24c3d 0%, #db2213 100%);
    background: -webkit-linear-gradient(to bottom,#f24c3d 0%, #db2213 100%);
    background: -moz-linear-gradient(to bottom,#f24c3d 0%, #db2213 100%);
    background: -o-linear-gradient(to bottom,#f24c3d 0%, #db2213 100%);

    text-align: center;
}

#siteHeader {
    margin: 0.4em auto 0.2em auto;
    display: block;

    text-shadow: 0.08em 0.08em #6f1ca6;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;

    font-size: 7em;
    font-family: "VT323";
}

#siteHeader div {
    display: inline-block;
}

#siteHeader div:hover {
    text-shadow: 0.08em 0.08em #f2b705;
}

#siteHeader a {
    display: block;
    color: #f2f2f2;
}


.indexNav nav {
    display: inline-block;

    font-family: Lato;
    font-weight: bold;
    font-size: 2em;
}

.indexNav nav a {
    margin: 0.25em 0;
    padding: 0.1em 0.2em;
    display: block;

    color: #f2f2f2;
    text-align: left;
}

.indexNav nav a:before {
    content: "- ";
    font-family: Inconsolata;
    font-size: 1.1em;
    opacity: .01;
}

.indexNav nav a:hover:before {
    content: "> ";
    font-family: Inconsolata;
    font-size: 1.1em;
    opacity: 1;
}

.contactInfo {
    margin: 0.1em auto 0 auto;
    display: inline-block;

    font-family: Inconsolata;
    font-size: 1.3em;
}

.contactInfo p {
    text-align: left;
}


.contactInfo a {
    color: #f2f2f2;
}

/* font awesome icon tag */
i {
    color: #f2f2f2;
}

.contentListContainer {
    z-index: 0;
    width: 70%;
    min-height: 100%;
    max-width: 70%;
    position: absolute;
    display: block;
    margin-left: 30%;
}
