/* The parent div containing both
 * sidebar and content lists
 */
.appRoot {
    width: inherit;
    height: inherit;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    overflow: auto;
}

/* The navbar when indexRoute is active */
.indexNav {
    width: 100%;
    height: inherit;
    min-width: 30%;
    min-height: inherit;

    /* To prevent child div's margins from moving
     * this element
     */
    margin: -1px 0 0 0;
    padding: 1px 0 0 0;

    background: linear-gradient(to bottom,#f24c3d 0%, #db2213 100%);
    background: -webkit-linear-gradient(to bottom,#f24c3d 0%, #db2213 100%);
    background: -moz-linear-gradient(to bottom,#f24c3d 0%, #db2213 100%);
    background: -o-linear-gradient(to bottom,#f24c3d 0%, #db2213 100%);

    text-align: center;
}

#siteHeader {
    margin: 0.7em auto 0.2em auto;
    display: block;

    text-shadow: 0.08em 0.08em #6f1ca6;
    transition: all 0.15s linear;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;

    font-size: 7em;
    font-family: "VT323";
}

#siteHeader a {
    color: #f2f2f2;
}


#siteHeader:hover {
    text-shadow: 0.08em 0.08em #f2b705;
}

.indexNav nav {
    display: inline-block;

    font-family: Lato;
    font-weight: bold;
    font-size: 2em;
}

.indexNav nav a {
    margin: 0.25em 0;
    padding: 0.1em 0.2em;
    display: block;

    color: #f2f2f2;
    text-align: left;
}

.indexNav nav a:before {
    content: "- ";
    font-family: Inconsolata;
    font-size: 1.1em;
}

.indexNav nav a:hover:before {
    content: "> ";
    font-family: Inconsolata;
    font-size: 1.1em;
}

.contactInfo {
    margin: 0.1em auto 0 auto;
    display: inline-block;

    font-family: Inconsolata;
    font-size: 1.3em;
}

.contactInfo p {
    text-align: left;
}


.contactInfo a {
    color: #f2f2f2;
}

/* font awesome icon tag */
i {
    color: #f2f2f2;
}

