.loginPane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    text-align: center;
}

.loginPane h3 {
    color: #FFFFFF;
    font-size: 1.3em;
    font-family: Lato;
    letter-spacing: 0.04em;
}

.googleLoginBtn {
    margin: 0;
    padding: 3em;

    background: #4285F4;
    border-style: none;
    border-radius: 50%;
    box-shadow: 0 0 10px #4285F4;

    transition: all 0.13s ease-in;
}

.googleLoginBtn i {
    width: 1em;
    height: 1em;
    font-size: 15em;
}

.googleLoginBtn:hover {
    background: #df4a32;
    box-shadow: 0 0 10px #df4a32;
}
