html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/styles/footer_lodyas.png");
}

#app {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

a {
    text-decoration: none;
}

button:focus {
    outline: 0;
}
