@font-face {
    font-family: 'adobe_caslon_proregular';
    src: url('caslon_pro-webfont.eot');
    src: url('caslon_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('caslon_pro-webfont.woff2') format('woff2'),
         url('caslon_pro-webfont.woff') format('woff'),
         url('caslon_pro-webfont.ttf') format('truetype'),
         url('caslon_pro-webfont.svg#adobe_caslon_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_proitalic';
    src: url('caslon_pro_italic-webfont.eot');
    src: url('caslon_pro_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('caslon_pro_italic-webfont.woff2') format('woff2'),
         url('caslon_pro_italic-webfont.woff') format('woff'),
         url('caslon_pro_italic-webfont.ttf') format('truetype'),
         url('caslon_pro_italic-webfont.svg#adobe_caslon_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_probold';
    src: url('caslon_pro_bold-webfont.eot');
    src: url('caslon_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('caslon_pro_bold-webfont.woff2') format('woff2'),
         url('caslon_pro_bold-webfont.woff') format('woff'),
         url('caslon_pro_bold-webfont.ttf') format('truetype'),
         url('caslon_pro_bold-webfont.svg#adobe_caslon_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_caslon_probold_italic';
    src: url('caslon_bold_italic-webfont.eot');
    src: url('caslon_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('caslon_bold_italic-webfont.woff2') format('woff2'),
         url('caslon_bold_italic-webfont.woff') format('woff'),
         url('caslon_bold_italic-webfont.ttf') format('truetype'),
         url('caslon_bold_italic-webfont.svg#adobe_caslon_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
